body {
	background-color: #30383d;
	overflow: hidden;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 10px;
	color: #f5f8fa;
}

.section {
	font-size: 150%;
	font-weight: bold;
	color: #474D54;  /* #8FB170 */
	text-transform: uppercase;
}
.smaller-section {
	font-size: 120%;
	font-weight: bold;
	color: #474D54;  /* #8FB170 */
	text-transform: uppercase;
}

.inline-block {
	display: inline-block;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.c-red {
	color: #fa4545;
}
.c-darkred {
	color: #9D2C24;
}
.c-green {
	color: #80ff80;
}
.c-orange {
	color: #f47400;
}
.c-yellow {
	color: #ffd94d;
}
.c-blue {
	color: #a7eaf8;
}
.c-mediumgray {
	color: #666A6B;
}
.c-darkgray {
	color: #202729;
}
.c-lightgray {
	color: #576164;
}

.std-width {
	width: 85px;
}
.std-height {
	height: 45px;
}

.std-lbl, .std-lbl-color {
	color: #B0B4B7;
}
.std-lbl {
	position: absolute;
	width: 100%;
	top: 4px;
	padding: 2px;
}
.std-val {
	position: absolute;
	top: 18px;
	width: 100%;
	font-weight: bold;
	font-size: 160%;
}

.panel-container {
	width: 100vw;
}
.grid-container {
	display: grid;
}
.grid-container > .left-edge {
	text-align: left;
}
.grid-container > .center-column {
	text-align: center;
}
.grid-container > .right-edge {
	text-align: right;
}

.grid-50-50 {
	grid-template-columns: 50% 50%;
}
.grid-33-33-33 {
	grid-template-columns: 33.33% 33.33% 33.33%;
}
.grid-25-25-25-25 {
	grid-template-columns: 25% 25% 25% 25%;
}

/* Spacers */
.spacer-100 {
	display: inline-block;
	padding-left: 100px;
}

.spacer-50 {
	display: inline-block;
	padding-left: 50px;
}

.spacer-25 {
	display: inline-block;
	padding-left: 25px;
}

.bordered {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	border: 1px solid #1C2021;
	text-align: center;
	display: inline-block;
}
.bordered.defect-write {
	border-color: #640101;
}

.INOPERABLE {
	opacity: 0.2;
}
.INVISIBLE-FOR-ALIGNMENT {
	opacity: 0.0;
	pointer-events: none;
}

.pressable {
	cursor: pointer;
}
.pressable:active {
	border: 1px solid #7f7f7f;
	box-shadow: 0 0 20px white;
}
.pressable.defect-write:active {
	/*background-color: red;*/
	border: 1px solid red;
	box-shadow: 0 0 20px red;
}

.instrument {
	position: relative;
}

.std-spacing .instrument {
	margin: 4px;
}

.small-instr {
	width: 56px;
	height: 35px;
	margin: 2px;
}
.small-instr .std-lbl {
	top: 0;
	font-size: 9px;
}
.small-instr .std-val {
	top: 17px;
	font-size: 9px;
}
