<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Server ports for HTTP and HTTPS protocols.
             Leave empty value to disable the particular protocol.
             Standard HTTP port is 80.
             Standard HTTPS port is 443. -->
    <add key="httpPort" value="1180" />
    <!-- <add key="httpsPort" value="11443" /> -->
    <!-- Root directory of the web server. -->
    <add key="webRootDir" value="../" />
    <!-- Default file to be sent if the request URL points to a directory. -->
    <add key="defaultFile" value="index.htm" />
    <!-- Server certificate and its password. -->
    <!-- <add key="serverCertificateFile" value="server-certificate.pfx" /> -->
    <add key="serverCertificatePassword" value="my-super-secure-password" />
    <!-- Comma separated list of enabled TLS versions. 
             Possible values: SSL30,TLS10,TLS11,TLS12,TLS13.
             Note: SSL30 will not work if TLS13 is enabled. -->
    <add key="tlsVersions" value="TLS10,TLS11,TLS12,TLS13" />
    <!-- Specifies whether to set up TLS layer for better compatibility with legacy devices.
             It also generates the server certificate with SHA-1 and 512-bit RSA key (if the certificate does not exist). -->
    <add key="legacyMode" value="false" />
    <!-- Specifies whether to start the server when the application is launched. -->
    <add key="autoStart" value="true" />
    <!-- Specifies whether to decode URI before mapping to physical path. -->
    <add key="decodeUri" value="true" />
    <!-- Selected logging level upon startup (can be still changed from GUI later).
             Possible values: Off, Info, Debug, Verbose, Raw. -->
    <add key="logLevel" value="Info" />
  </appSettings>
  <runtime>
    <!-- Uncomment 'AppContextSwitchOverrides' to enable support for paths longer than 260 characters.
             Also use full UNC path in 'webRootDir'. For example: "\\?\c:\RebexTinyWebServer\wwwroot". -->
    <!--<AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />-->
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>